.ipynb_checkpoints
art.txt
col1.txt
col2.txt
col3.txt
hightemp.txt
jawiki-country.json.gz
neko.txt
neko.txt.cabocha
neko.txt.mecab
100knock_30
100knock_30(horyu)
matplotlib_test.ipynb
__pycache__
a42result.txt
a43result.txt
dg44
